@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rain {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 50px 20px white, 0 0 75px 20px white, 0 0 100px 20px white, 0 0 300px 20px white;
  }
  100% {
    transform: translateY(100vh) translateX(100vw);
    opacity: 0;
  }
}
.sun {
  position: absolute;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to right, yellow, orange);
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  right: -4%;
  top: -6%;
  box-shadow: 0 0 25px #CCCC00, 0 0 50px #CCCC00, 0 0 75px #CCCC00, 0 0 250px #CCCC00;
  animation: rotate 20s linear infinite;
  animation-fill-mode: both;
  animation-play-state: running;
}

.moon {
  position: absolute;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to top, gray, gray);
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  left: -4%;
  bottom: -6%;
  box-shadow: 0 0 25px #3388A6, 0 0 50px #3388A6, 0 0 75px #3388A6, 0 0 250px #3388A6;
  animation: rotate1 20s linear infinite;
  animation-fill-mode: both;
  animation-play-state: running;
}

.circle {
  position: absolute;
  background-color: #676767;
  border: 1px solid black;
  border-radius: 50%;
}

.small:nth-child(1) {
  width: 0.5vh;
  height: 0.5vh;
  bottom: 30%;
  left: 80%;
}

.small:nth-child(2) {
  width: 0.5vh;
  height: 0.5vh;
  bottom: 50%;
  left: 50%;
}

.small:nth-child(3) {
  width: 0.5vh;
  height: 0.5vh;
  bottom: 60%;
  left: 60%;
}

.medium:nth-child(4) {
  width: 1vh;
  height: 1vh;
  bottom: 10%;
  left: 40%;
}

.medium:nth-child(5) {
  width: 1vh;
  height: 1vh;
  bottom: 80%;
  left: 45%;
}

.medium:nth-child(6) {
  width: 1vh;
  height: 1vh;
  bottom: 15%;
  left: 55%;
}

.medium:nth-child(7) {
  width: 1vh;
  height: 1vh;
  bottom: 15%;
  left: 20%;
}

.big:nth-child(8) {
  width: 2vh;
  height: 2vh;
  bottom: 50%;
  left: 25%;
}

.big:nth-child(9) {
  width: 2vh;
  height: 2vh;
  bottom: 30%;
  left: 5%;
}

.big:nth-child(10) {
  width: 2vh;
  height: 2vh;
  bottom: 43%;
  left: 75%;
}

.small:nth-child(11) {
  width: 0.5vh;
  height: 0.5vh;
  bottom: 33%;
  left: 90%;
}

.small:nth-child(12) {
  width: 0.5vh;
  height: 0.5vh;
  bottom: 21%;
  left: 17%;
}

.stars {
  position: absolute;
  background-color: white;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  box-shadow: 0 0 50px 10px white, 0 0 75px 10px white, 0 0 100px 10px white, 0 0 300px 10px white;
  animation: rain 4s linear infinite;
  animation-fill-mode: both;
}

@media all and (max-width: 700px) {
  .sun {
    position: absolute;
    border: 1px solid #e6e6e6;
    background-image: linear-gradient(to right, yellow, orange);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    right: -4%;
    top: -3%;
    box-shadow: 0 0 25px #CCCC00, 0 0 50px #CCCC00, 0 0 75px #CCCC00, 0 0 250px #CCCC00;
    animation: rotate 20s linear infinite;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  .moon {
    position: absolute;
    border: 1px solid #e6e6e6;
    background-image: linear-gradient(to top, gray, gray);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    left: -4%;
    bottom: -3%;
    box-shadow: 0 0 25px #3388A6, 0 0 50px #3388A6, 0 0 75px #3388A6, 0 0 250px #3388A6;
    animation: rotate1 20s linear infinite;
    animation-fill-mode: both;
    animation-play-state: running;
  }

  .container .search_container {
    width: 10%;
  }
  .container .search_container .location {
    width: 50%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Teko", sans-serif;
  overflow: hidden;
  color: #9400D3;
  background-color: black;
}

.container {
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.container h3 {
  font-size: 2rem;
}
.container header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}
.container header h1 {
  font-family: "Staatliches", cursive;
}
.container .data_container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container .data_container .img_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 2%;
  color: #00FA9A;
}
.container .data_container .img_container img {
  display: none;
  transform: scale(2);
}
.container .search_container {
  width: 110%;
  display: flex;
  justify-content: center;
}
.container .search_container .location {
  width: 25%;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 4%;
}
.container .search_container .location:focus {
  transition: 350ms;
  border: 1px solid #9400D3;
  border-radius: 10px;
}
.container .search_container .fa-search-location {
  color: white;
  background-color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 4%;
}
.container .search_container .fa-search-location:hover {
  transform: scale(0.95);
  transition: 350ms;
}
.container .temp_container {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  justify-content: center;
}
.container .temp_container .description {
  text-transform: uppercase;
}
.container .temp_container p {
  padding: 10px;
  text-align: center;
  color: #9400D3;
  text-decoration: underline;
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
