@media all and (max-width:700px){
    .sun{
        position: absolute;
        border: 1px solid darken($color: white, $amount: 10%);
        background-image: linear-gradient(to right,yellow,orange);
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        right: -4%;
        top: -3%;
        box-shadow: 0 0 25px  #CCCC00,
        0 0 50px    #CCCC00,
        0 0 75px   #CCCC00,
        0 0 250px   #CCCC00;
        animation: rotate 20s linear infinite;
        animation-fill-mode: both;
        animation-play-state: running;
    }
    .moon{
        position: absolute;
        border: 1px solid darken($color: white, $amount: 10%);
        background-image: linear-gradient(to top,gray,gray);
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        left: -4%;
        bottom: -3%;
        box-shadow: 0 0 25px  #3388A6,
        0 0 50px   #3388A6,
        0 0 75px  #3388A6,
        0 0 250px  #3388A6;
        animation: rotate1 20s linear infinite;
        animation-fill-mode: both;
        animation-play-state: running;
    
    }
    .container{
        .search_container{
            width: 10%;
            .location{
                width: 50%;
            }
        }
    }
}