
@import 'keyframes';


.sun{
    position: absolute;
    border: 1px solid darken($color: white, $amount: 10%);
    background-image: linear-gradient(to right,yellow,orange);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    right: -4%;
    top: -6%;
    box-shadow: 0 0 25px  #CCCC00,
    0 0 50px    #CCCC00,
    0 0 75px   #CCCC00,
    0 0 250px   #CCCC00;
    animation: rotate 20s linear infinite;
    animation-fill-mode: both;
    animation-play-state: running;
}
.moon{
    position: absolute;
    border: 1px solid darken($color: white, $amount: 10%);
    background-image: linear-gradient(to top,gray,gray);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    left: -4%;
    bottom: -6%;
    box-shadow: 0 0 25px  #3388A6,
    0 0 50px   #3388A6,
    0 0 75px  #3388A6,
    0 0 250px  #3388A6;
    animation: rotate1 20s linear infinite;
    animation-fill-mode: both;
    animation-play-state: running;

}

.circle{
    position: absolute;
    background-color: darken($color: gray, $amount: 10%);
    border: 1px solid black;
    border-radius: 50%;
}
.small:nth-child(1){
    width: 0.5vh;
    height: 0.5vh;
    bottom: 30%;
    left: 80%;
}
.small:nth-child(2){
    width: 0.5vh;
    height: 0.5vh;
    bottom: 50%;
    left: 50%;
}
.small:nth-child(3){
    width: 0.5vh;
    height: 0.5vh;
    bottom: 60%;
    left: 60%;
}
.medium:nth-child(4){
    width: 1vh;
    height: 1vh;
    bottom: 10%;
    left: 40%;
}
.medium:nth-child(5){
    width: 1vh;
    height: 1vh;
    bottom: 80%;
    left: 45%;
}
.medium:nth-child(6){
    width: 1vh;
    height: 1vh;
    bottom: 15%;
    left: 55%;
}
.medium:nth-child(7){
    width: 1vh;
    height: 1vh;
    bottom: 15%;
    left: 20%;
}

.big:nth-child(8){
    width: 2vh;
    height: 2vh;
    bottom: 50%;
    left: 25%; 
}
.big:nth-child(9){
    width: 2vh;
    height: 2vh;
    bottom: 30%;
    left: 5%; 
}
.big:nth-child(10){
    width: 2vh;
    height: 2vh;
    bottom: 43%;
    left: 75%; 
}
.small:nth-child(11){
    width: 0.5vh;
    height: 0.5vh;
    bottom: 33%;
    left: 90%;
}
.small:nth-child(12){
    width: 0.5vh;
    height: 0.5vh;
    bottom: 21%;
    left: 17%;
}

.stars{
    position: absolute;
    background-color: white;
    width: 2.5px;
    height: 2.5px;
    border-radius: 50%;
    box-shadow:  0 0 50px 10px white,
    0 0 75px 10px white,
    0 0 100px 10px white,
    0 0 300px 10px white;
    animation: rain 4s linear infinite;
    animation-fill-mode: both;
}

@import 'media';
